<link rel='stylesheet' href='/stylesheets/style.css' />

<div class="header">
    <div class="headerText">
        Repos of Angular
    </div>
    <div class="pages"><a href="/">First 15</a> | <a href="/page2">Next 15</a></div>
</div>
